{% extends('base.html') %}

    {% block tohen %}
<body class="bodyCatalog" onload="markOnNav()">
<h1 class = "searchFor">Search for a Cookie for More Information</h1>

    <form action="/catalog">
        <input id="search" type="text" name="cookie_name" placeholder="Cookie Flavor"><br>
        <input id = "sub"  type="submit" value="Search">
    </form>

    {% if cookie_name %}
        <h2>{{ cookie_name | upper() }}</h2>
        <h3>Price: {{ cookie_price }}</h3>
        <h3>Calories: {{ coolie_calories }}</h3>
    {% endif %}

    {% if message %}
        <h3 style="color: red">{{ message }}</h3>
    {% endif %}

    {% if catalog_Price %}
        <ol>
        <h2>cookie flavors:</h2>
            {% for k, v in catalog_Price.items() %}
                <li><h3>{{ k }}</h3></li>
            {% endfor %}
        </ol>
    {% endif %}
        </body>
    {% endblock %}
