<header>
    <nav class="navi">
        <a href="/">Home Page</a>
        <a href='/order'>Order</a>
        <a href='/log_in'>LogIn</a>
        <a href="/assignment4">Users</a>
        <a href="/partB">Part B</a>
        <a href="/restapi_users">Restapi Users</a>
    </nav>
</header>
<header>
    {% if session['logedin'] %}
        <h1 id="header1">Welcome {{ session['username']  | upper() }} to Dana's cookies shop</h1>
    {% else %}
        <div id="header">Dana's cookies shop</div>
    {% endif %}

</header>
